body {
    background-color: #000000;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(-276deg, rgb(25, 22, 78) 13%, rgba(68, 30, 181, 0.813) 29%, #00000000 72%) no-repeat;
}

main .personagem {
    display: none;
    height: 100vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .descricao {
        color: #ffffff;
        font-family: "Rubik", sans-serif;
        line-height: 1.5; 
        margin: 20px 0; 
        max-height: 100px; 
        overflow-y: auto;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px; 
        background-color: rgba(0, 0, 0, 0.40);
}

.conteudo .logo {
    background-image: url("../imagens/logobranc.png");
    background-size: cover;
    height: 100px;
    width: 500px;
    margin-bottom: 10px;
    margin-left: -160px;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #D9D9D9;
}

.conteudo .nome-personagem {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 70%;
      width: 200%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;

overflow: hidden;
    }
  }

  .conteudo .descricao {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 70%;
      width: 200%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;

overflow: hidden;
    }
}

.botoes {
    animation: burger 3.5s forwards,
    burgerclose 3.5s forwards;
}


@keyframes burger {
    from {
        right: -250px; 
    }
    to {
        right: 0; 
        margin-left: -21%; 
    }
}

.conteudo .Nahida {
    font-size: 48px;
    font-family: "Courgette";
    font-weight: 400;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #30b96d, #ecf665);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.conteudo .Furina {
    font-size: 48px;
    font-family: "Courgette";
    font-weight: 400;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #076ed5, #4d8cc4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.conteudo .Keqing {
    font-size: 48px;
    font-family: "Courgette";
    font-weight: 400;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #9920a9, #f9b6ff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.conteudo .Nilou {
    font-size: 48px;
    font-family: "Courgette";
    font-weight: 400;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #f01c74 30%, #449fe1 70%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Para navegadores não baseados em WebKit */
    color: transparent; 

    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.conteudo .HuTao {
    font-size: 48px;
    font-family: "Courgette";
    font-weight: 400;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgb(217, 42, 33), #2203030b); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);


}