@media (max-width: 768px) {
    main::after {
        background: linear-gradient(-0deg, hsl(251, 60%, 24%) 13%, rgba(68, 30, 181, 0.813) 29%, #00000000 72%) no-repeat;
        width: 100vw;
    }

    main .personagem .imagem {
        height: 85%;
    }

    .conteudo {
        justify-content: flex-end;
        left: 0;
        top: -20%;
        max-width: 100vw;
        padding: 30px;
    }

    .conteudo .nome-personagem {
        font-size: 36px;
    }

    .conteudo .descricao {
        max-width: 500px;
    }

    .botoes {
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 30px;
    }

    .botoes .botao img {
        max-width: 60px;
    }
}

@media (max-width: 425px) {
    main .personagem .imagem {
        height: auto;
    }

    .conteudo .logo {
        width: 170px;
        height: 140px;
    }

    .conteudo {
        top: -30%;
    }

    .conteudo .nome-personagem {
        font-size: 24px;
    }

    .botoes {
        padding: 20px;
        top: -20%;
    }

    .botoes .botao img {
        max-width: 50px;
    }
}

@media (max-width: 450px)  {

    body main::after {
    background: linear-gradient(-0deg, hsl(251, 60%, 24%) 13%, rgba(68, 30, 181, 0.813) 29%, #00000000 72%) no-repeat;
    width: 100vw;  
}
    body .botoes {
        background-color: unset;
    }
}

@media (max-width: 740px)  {


    main::after {
        background: linear-gradient(-0deg, hsl(251, 60%, 24%) 13%, rgba(68, 30, 181, 0.813) 29%, #00000000 72%) no-repeat;
        width: 100vw;
    }

    main .personagem .imagem {
        height: 90%;
    }

    .conteudo {
        justify-content: flex-end;
        left: 0;
        top: -20%;
        max-width: 100vw;
        padding: 30px;
    }

    .conteudo .nome-personagem {
        font-size: 40px;
    }

    .conteudo .descricao {
        max-width: 500px;
        margin-top: -20px;
    
    }

    .botoes {
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 30px;
        top: -3%;
    }


    .botoes .botao img {
        max-width: 65px;
    }

    ----------------------
    .conteudo .logo {
        background-image: url("../imagens/logo11.png");
        background-size: cover;
        height: 100px;
        width: 200px;
        margin-bottom: 10px;
        margin-left: 0;
        position: relative;
        background-color: rgba(0, 0, 0, 0.40);
    
    }

}
    

@media (max-width: 1368px)  {

    .conteudo .descricao {
        max-width: 500px;
        margin-top: -20px;
        font-size: 25px;
    
    }

    .conteudo .Nahida {
        font-size: 80px;
        font-family: "Courgette";
        font-weight: 400;
        margin-bottom: 20px;
        background: linear-gradient(90deg, #30b96d, #ecf665);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    
    .conteudo .Furina {
        font-size: 80px;
        font-family: "Courgette";
        font-weight: 400;
        margin-bottom: 20px;
        background: linear-gradient(90deg, #076ed5, #4d8cc4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    
    .conteudo .Keqing {
        font-size: 80px;
        font-family: "Courgette";
        font-weight: 400;
        margin-bottom: 20px;
        background: linear-gradient(90deg, #9920a9, #f9b6ff); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    
    .conteudo .Nilou {
        font-size: 80px;
        font-family: "Courgette";
        font-weight: 400;
        margin-bottom: 20px;
        background: linear-gradient(90deg, #f01c74 30%, #449fe1 70%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text; /* Para navegadores não baseados em WebKit */
        color: transparent; 
    
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    
    .conteudo .HuTao {
        font-size: 80px;
        font-family: "Courgette";
        font-weight: 400;
        margin-bottom: 20px;
        background: linear-gradient(90deg, rgb(217, 42, 33), #2203030b); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    
    
    }

}